.item > .content {
  flex-grow: 1;
  padding: 0 2em;
}
.item > .content > h1 {
  font-size: 1em;
  color: #555;
}
.item > .content > p {
  color: #aaa;
}
.item > .timestamp {
  font-size: 0.8em;
  color: #aaa;
  height: 3em;
}
.item:hover > .content > h1 {
  color: #222;
}
.item:hover > .content > p {
  color: #666;
}