.container {
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}
.header > button {
  background: none;
  color: #fff;
  margin-right: 0.5em;
}

.action-buttons {
  margin: 15px 15px 1em 15px;
  display: flex;
}
.action-buttons > button, .action-buttons > a, .action-buttons > .drop-down-container > .drop-down-button {
  margin-right: 10px;
  padding: 6px;
  border-radius: 2px;
  background-color: #444;
  color: #fff;
  font-size: 0.8em;
}

.list-container {
  max-height: 90%;
  overflow-y: scroll;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  align-content: flex-start;
}
.list-container > h1 {
  width: 100%;
  color: rgb(33, 226, 152);
  font-size: 1.5em;
  margin-bottom: 1em;
}
.list-container > h2 {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 0.5em;
}
.list-container > .sm {
  height: max-content;
  display: flex;
  color: #333;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 5px;
  min-width: 100%;
  box-sizing: border-box;
}
.list-container > .sm.danger {
  margin-top: 1em;
  color: #f00;
}
.fade-hover:hover {
  background-color: #f5f5f5;
}
.list-container > .active {
  color: #fff;
  background-image: linear-gradient(90deg, rgb(33, 226, 152), rgb(33, 226, 152));
}
.list-container > .sm > .img {
  min-width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  margin-right: 20px;
}
.list-container > .sm > .info > .primary {
  text-align: start;
  font-weight: bold;
}
.list-container > .sm > .info > .secondary {
  text-align: s;
  color: #888;
  font-size: 0.9em;
}
.list-container > .sm > .action-buttons {
  margin: 0;
  margin-left: auto;
}

.list-container > .md {
  background-color: #fff;
  width: 48%;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  margin-bottom: 0.7em;
  display: flex;
  align-items: center;
}
.list-container > .md > .primary {
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  color: #c2c2c2;
  margin-left: 10px;
}
.list-container > .md > .img {
  color:  rgb(135, 175, 142);
  font-size: 2em;
  text-align: center;
}

.main-button{
  background-color: rgb(33, 226, 152);
  font-weight: bold;
  color: #fff;
  padding: 10px 15px;
  border-radius: 2px;
  margin: 1em 0;
}

.small {
  font-size: 0.9em;
}

.box {
  margin: 0;
  padding: 2em 1em;
  width: 100%;
  background-color: #eee;
}
.box > h2 {
  color: rgb(33, 226, 152);
  margin-bottom: 1em;
  text-align: center;
}
.box > p {
  text-align: center;
}

.loader {
  border: 8px solid #333; /* Light grey */
  border-top: 8px solid #3cff87; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 700ms linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (min-width: 1025px) {
  .container {
    padding-right: 10%;
    padding-left: 10%;
  }
  .box {
    margin: 1em auto;
    width: 60%;
  }
  .list-container > .sm {
    padding: 5px 10px;
    margin-bottom: 8px;
    transition: all 200ms ease;
  }
  .list-container > .sm:hover {
    box-shadow: rgba(214, 214, 214, 0.15) 2px 2px 5px 5px;
  }
  .list-container > .sm > p {
    margin-right: 1em;
    color: inherit;
  }
  .list-container > .md {
    width: 100%;
    border-top: 1px solid #ddd;
  }
  .list-container > .md:nth-child(1) {
    border-top: none;
  }
}
@media (min-width: 2000px) {
  .container {
    padding-right: 30%;
    padding-left: 30%;
  
  }
}