@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
}
body {
  background-color: rgb(245, 247, 248);
}

input, button {
  border: none;
  outline: none;
  font-size: inherit;
}
button:hover {
  cursor: pointer;
}
a {
  color: rgb(9, 136, 119);
  text-decoration: none;
}
svg, path {
  color: inherit;
}
