.channel-hidden {
  transform: translate(100%, 0);
}
#channel-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  transition: all 150ms ease;
}
#message-history {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  top: 2.7em;
  bottom: 70px;
  overflow: scroll;
  width: 100%;
  padding-top: 2em;
  box-sizing: border-box;
}
#message-history > :last-child {
  margin-top: auto;
}
#channel-input {
  position: absolute;
  height: 3em;
  bottom: 1em;
  box-sizing: border-box;
  width: 94%;
  display: flex;
  align-items: center;
  background-image: linear-gradient(145deg, rgb(221, 255, 239), rgb(213, 254, 255));
  border-radius: 15px;
  transition: all 100ms linear;
  margin: 0 3%;
}
#channel-input > button {
  background: #444;
  margin: 0 10px;
  color: rgb(191, 255, 239);
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
}
#channel-input > input {
  background: none;
  flex-grow: 1;
  box-sizing: border-box;
  font-size: 1rem;
  height: 40px;
  margin: auto 0;
}
#channel-input > input::placeholder {
  color: rgb(35, 134, 109);
}
#channel-input:focus-within {
  border-radius: 5px;
}
