.channel-hidden {
  transform: translate(100%, 0);
}
#channel-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  transition: transform 120ms ease;
}
.header {
  background-color: rgb(33, 226, 152);
  font-weight: bold;
  color: #fff;
  font-size: 1.5em;
  padding: 5px 10px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
}
#message-history {
  position: absolute;
  top: 2.7em;
  bottom: 70px;
  width: 100%;
  box-sizing: border-box;
}
#message-history > div {
  overflow: scroll;
  width: 100%;
  height: 100%;
  padding-bottom: 2em;
}
#message-history > div > div {
  min-height: 100%;
  width: 100%;
  display: flex;
  padding: 0 0 0 3%;
  flex-direction: column-reverse;
  justify-content: flex-start;
  box-sizing: border-box;
  
}
#message-history > div > div > :last-child {
  margin-top: auto;
}
#channel-input {
  position: absolute;
  height: 3em;
  bottom: 1em;
  box-sizing: border-box;
  width: 94%;
  display: flex;
  align-items: center;
  background-image: linear-gradient(145deg, rgb(221, 255, 239), rgb(213, 254, 255));
  border-radius: 15px;
  transition: all 100ms linear;
  margin: 0 3%;
}
#channel-input.sending {
  background-image: linear-gradient(145deg, rgb(154, 187, 171), rgb(151, 196, 197));
}
#channel-input > button {
  background: #444;
  margin: 0 10px;
  color: rgb(191, 255, 239);
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
}
#channel-input > .skip {
  height: max-content;
  width: max-content;
  padding: 5px;
}
#channel-input > .send-button > svg {
  height: 30px;
}
#channel-input > input {
  background: none;
  flex-grow: 1;
  box-sizing: border-box;
  font-size: 1rem;
  height: 40px;
  margin: auto 0;
  padding-right: 10px;
}
#channel-input > input::placeholder {
  color: rgb(35, 134, 109);
}
#channel-input:focus-within {
  border-radius: 5px;
}
#active-system-message {
  color: rgb(33, 226, 152);
  animation: active-system-message-anim 2s ease-in-out infinite;
}
.system-message {
  color: #888;
  text-align: center;
  margin-bottom: 1em;
}
@keyframes active-system-message-anim {
  0%, 100% {
    transform: translate(0, -2px);
  }
  50% {
    transform: translate(0, 2px);
  }
}

@media (min-width: 1025px) {
  #channel-container {
    position: relative;
    max-width: 45%;
  }
}