#profile-container {
  height: 100%;
  width: 100%;
  align-items: center;
}
#profile-container > #header {
  padding: 1em 10px 3em 10px;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  background-image: linear-gradient(145deg, rgb(28, 231, 119), rgb(0, 222, 230));
}
#profile-container > #header > #pfp {
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin: 0 auto;
}
#name {
  text-align: center;
  margin-top: 1em;
  width: 100%;
}
#name > .displayName {
  background: none;
  font-weight: bold;
  font-size: 1.5em;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  text-align: center;
}
#name > .username {
  font-size: 0.9em;
  font-weight: normal;
  text-align: center;
}
#new-post-button {
  display: block;
  /* background-image: linear-gradient(145deg, rgb(255, 210, 7), #ff9640); */
  background-color: #333;
  font-weight: bold;
  font-size: 2em;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  color: #fff;
  margin: 0 auto;
  transform: translate(0, 20px);
}
#profile-buttons {
  display: flex;
  justify-content: space-between;
}
#profile-buttons > a {
  padding: 5px;
  color: #fff;
  display: block;
  font-size: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profile-buttons > a > p {
  font-size: 0.5em;
  color: #fff;
}
#profile-buttons > a:nth-child(1) {

}