#profile-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profile-container > #header {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: rgb(74, 230, 134);
  margin-bottom: 40px;
}
#profile-container > #header > #pfp {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: rgb(163, 45, 16);
  bottom: -32px;
  left: 50%;
  transform: translate(-50%, 0);
}
#profile-container > #user-info {
}
#profile-container > #user-info > #name {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}
#profile-container > #new-post-button {
  background-color: rgb(74, 230, 134);
  font-weight: bold;
  font-size: 2em;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  color: #fff;
  margin: 1em 0;
}
.username-link {
  color: rgb(33, 218, 156);
  font-weight: normal;
}