#open-channel-container > .sm {
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
#open-channel-container > :nth-last-child(2) {
  border-top: 1px solid #ddd;
}