.form-container {
  margin-top: 25px;
}
.form-container > h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
.form-container > button {
  background-color: #444;
  color: #fff;
  padding: 10px;
  border-radius: 1px;
  margin-top: 10px;
  font-weight: 700;
  transition: all 200ms ease;
}
.form-error {
  font-size: 0.8em;
  color: #fff;
  background-color: #f44;
  margin: 2px 0;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 2px;
}
