#pop-up-notif {
  position: fixed;
  background-color: rgb(231, 115, 69);
  border-radius: 5px;
  width: max-content;
  padding: 10px;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 5;
  animation: pop-up-notif-anim 5000ms forwards;
  max-width: 90%;
  display: flex;
}
#pop-up-notif > p {
  color: #fff;
}
#pop-up-notif > button {
  background: none;
  color: #fff;
  font-weight: bold;
  padding: 0 0.2em;
  font-size: 1em;
}

@keyframes pop-up-notif-anim {
  0% {
    transform: translate(-50%, -100%);
  }

  2%, 100% {
    transform: translate(-50%, 10%);
  }
}