.form-input > input {
  background-color: #ddd;
  width: 100%;
  padding: 2px 5px;
  margin: 2px auto -3px auto;
  line-height: 2em;
  border-radius: 1px;
  box-sizing: border-box;
  font-size: 16px;
  transition: all 100ms ease;
}
.form-input > span {
  position: relative;
  background-color: rgb(23, 196, 129);
  display: block;
  width: 0;
  height: 3px;
  margin-bottom: 2px;
  z-index: 1;
  transition: all 350ms ease;
}
.form-input > .hasError + span, .form-input > input:focus + span, .form-input > .highlighted + span {
  width: 100%;
}
.form-input > .hasError + span {
  background-color: red;
}

.form-input > .form-input-placeholder {
  color: grey;
}

.form-input > div {
  color: #777;
  font-size: 0.8em;
  margin-bottom: 5px;
}
