.drop-down-container {
  position: relative;
}
.drop-down {
  background-color: #333;
  left: 0;
  bottom: 0;
  transform: translate(0, 110%);
  position: absolute;
  padding: 5px;
  opacity: 0;
  transition: all 100ms ease;
}
.drop-down-container > .open {
  opacity: 1;
}
.drop-down > h1 {
  color: rgb(33, 226, 152);
  font-size: 1.3em;
}