.warning-button > button {
  color: white;
  margin-top: 2em;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-weight: bold;
  font-size: 0.9em;
  transition: all 200ms ease;
}
.warning-button > button:hover {
  box-shadow: #ccc 3px 4px 0 0;
  transform: translate(0, -1px);
}
