#mobile-nav {
  position: absolute;
  background-color: #fff;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#mobile-nav > a {
  font-size: 0.75em;
}