#friend-input-container {
  transition: all 100ms ease;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
#friend-input-container > input {
  width: 80%;
  margin: 0 auto;
  background-color: #e8e8e8;
  padding: 10px 20px;
  box-sizing: border-box;
}
#friend-input-container > button {
  flex-grow: 1;
  background-color: rgb(33, 226, 152);
  color: #fff;
  font-weight: bold;
  transition: all 200ms ease;
}
#friend-input-container > .faded {
  color: #888;
  background-color: #444;
}
.add-friend-error {
  width: 100%;
  color: rgb(255, 82, 82);
  padding: 2px 10px;
  box-sizing: border-box;
}